.item h3 {
    color: black;
}
.item p {
    color: black;
}
.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
}

.item-container {
    padding: 10px;
}
