.item h3 {
    font-size: 70%;
    color: black;
}
.item p {
    font-size: 60%;
    color: black;
}
.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
}

.item {
    height: 100%;
}

.item-container {
    padding: 10px;
    max-height: 80%;
}
