.column-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.column-grid > div {
    margin: 5px;
    width: 30%;
    height: 300px;
    min-width: 165px;
    max-width: 220px;
}

.column-grid > p {
    font-size: smaller;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .column-grid > div {
    height: 200px;
    min-width: 100px;
  }
}